.inventory{
    
    width: 126px;
    background: rgb(216, 216, 216);
    ul{
        list-style: none;
        padding-left: 0;
        width: 126px;
        display: flex;
        flex-wrap: wrap;
       
        li{
        
            width: 36px;
            height: 36px;
            margin: 2px;
        
            border: 1px solid rgb(51, 51, 51);
            border-radius: 3px;
        }
    }
}
.empty{
    background: orange;
}